*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.App {
    color: #404040;
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    margin-inline: 10vw;
    margin-top: 2rem;
    background: #fff;

}

@media screen and (max-width: 984px){
    .App{
        margin: 0;
    }
}